<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <distributable/>
    <servlet>
        <servlet-name>processMakePayment</servlet-name>
        <servlet-class>ProcessMakePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>Log4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>processMakePayment</servlet-name>
        <url-pattern>/processMakePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log4JInitServlet</servlet-name>
        <url-pattern>/Log4JInitServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
